<div class="container">
  <div class="row">
    <div class="col-xs-12 d-flex flex-column align-items-center ">
      <img
        class="rounded-circle my-image"
        src="https://avatars.githubusercontent.com/u/45635600?v=4"
        alt="manu-dev"
      />
      <div class="my-4 mx-5 p-5 bg-dark bg-gradient rounded-4 card">
        <h2 class="mt-4 text-light">Manuel here,</h2>
        <h3 class="text-light">I'm developer and I'm practicing my Angular skills</h3>
        <p class="text-light fs-5">
          Lets start with the next level of this corse beacuse it is very
          interesting
        </p>
      </div>
    </div>
  </div>
</div>
